flask
flask-sqlalchemy
werkzeug
gunicorn

bcrypt
pyjwt
cryptography

requests
requests-futures
certifi
pysocks
stem
torrequest
aiohttp
aiofiles

pandas
openpyxl
reportlab

psycopg2-binary

beautifulsoup4
lxml
email-validator

colorama

uuid
